/* Style for the direction buttons */
.direction-button {
  width: 75px;
  height: 75px;
  border: 1px solid black;
  background-color: lightgray;
  text-align: center;
  vertical-align: middle;
}

.direction-button.active {
  background-color: green;
}

.direction-button.light {
  background-color: green;
}

.container {
  display: grid;
  height: fit-content;
}

.left-buttons {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.picture-container {
  grid-column: 2/3;
  grid-row: 1/2;
}

.right-buttons {
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



@media (max-width: 1000px) {
  /* Landscape-specific styles here */

  /* Remove the title */
  .title {
    display: none;
  }


  img {
    width: 100%;
    height: 100%;
  }
  
  /* Adjust the grid layout */
  .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
	min-height: 80vh;
  }

  /* Align the elements horizontally */
  .left-buttons {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .picture-container {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .right-buttons {
    grid-column: 3/4;
    grid-row: 1/2;
  }
}


